In [23]:
import pandas as pd 
import numpy as np

In [24]:
df = pd.read_csv('/Users/meganpolak/Downloads/2015HMDALAR-National.csv', names=('Year','Respondent_ID','Agency_Code','Loan_Type','Property_Type','Loan_Purpose','Occupancy','Loan_Amount','Preapproval','Action_Type','MSA-MD','State_Code','County_Code','Census_Tract_Number','Applicant_Ethnicity','Co_Applicant_Ethnicity','Applicant_Race_1','Applicant_Race_2','Applicant_Race_3','Applicant_Race_4','Applicant_Race_5','Co_Applicant_Race_1','Co_Applicant_Race_2','Co_Applicant_Race_3','Co_Applicant_Race_4','Co_Applicant_Race_5','Applicant_Sex','Co_Applicant_Sex','Applicant_Income','Purchaser_Type ','Denial_Reason_1','Denial_Reason_2','Denial_Reason_3','Rate_Spread','HOEPA_Status','Lien_Status','Edit_Status','Sequence_Number','Population','Minority_Population_%','FFIEC_Median_Family_Income','Tract_to_MSA/MD_Income_%','Number_of_Owner-occupied_units','Number_of_1-to_4-Family_units','Application_Date_Indicator'),header=None)

/Users/meganpolak/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df.columns

Index(['Year', 'Respondent_ID', 'Agency_Code', 'Loan_Type', 'Property_Type',
       'Loan_Purpose', 'Occupancy', 'Loan_Amount', 'Preapproval',
       'Action_Type', 'MSA-MD', 'State_Code', 'County_Code',
       'Census_Tract_Number', 'Applicant_Ethnicity', 'Co_Applicant_Ethnicity',
       'Applicant_Race_1', 'Applicant_Race_2', 'Applicant_Race_3',
       'Applicant_Race_4', 'Applicant_Race_5', 'Co_Applicant_Race_1',
       'Co_Applicant_Race_2', 'Co_Applicant_Race_3', 'Co_Applicant_Race_4',
       'Co_Applicant_Race_5', 'Applicant_Sex', 'Co_Applicant_Sex',
       'Applicant_Income', 'Purchaser_Type ', 'Denial_Reason_1',
       'Denial_Reason_2', 'Denial_Reason_3', 'Rate_Spread', 'HOEPA_Status',
       'Lien_Status', 'Edit_Status', 'Sequence_Number', 'Population',
       'Minority_Population_%', 'FFIEC_Median_Family_Income',
       'Tract_to_MSA/MD_Income_%', 'Number_of_Owner-occupied_units',
       'Number_of_1-to_4-Family_units', 'Application_Date_Indicator'],
      dtype='object')

In [26]:
df=df.drop(['Respondent_ID','Agency_Code','Census_Tract_Number','Rate_Spread','Applicant_Ethnicity','Number_of_Owner-occupied_units', 'Number_of_1-to_4-Family_units','Population','Edit_Status','Co_Applicant_Ethnicity','Applicant_Race_1','Applicant_Race_2','Applicant_Race_3','Applicant_Race_4','FFIEC_Median_Family_Income','HOEPA_Status','Applicant_Race_5','Co_Applicant_Race_1','Sequence_Number','Co_Applicant_Race_2','Co_Applicant_Race_3','Co_Applicant_Race_4','Co_Applicant_Race_5','Applicant_Sex','Co_Applicant_Sex','Application_Date_Indicator','MSA-MD','Minority_Population_%','Tract_to_MSA/MD_Income_%'],axis=1)

In [27]:
df.columns

Index(['Year', 'Loan_Type', 'Property_Type', 'Loan_Purpose', 'Occupancy',
       'Loan_Amount', 'Preapproval', 'Action_Type', 'State_Code',
       'County_Code', 'Applicant_Income', 'Purchaser_Type ', 'Denial_Reason_1',
       'Denial_Reason_2', 'Denial_Reason_3', 'Lien_Status'],
      dtype='object')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14374184 entries, 0 to 14374183
Data columns (total 16 columns):
Year                int64
Loan_Type           int64
Property_Type       int64
Loan_Purpose        int64
Occupancy           int64
Loan_Amount         int64
Preapproval         int64
Action_Type         int64
State_Code          float64
County_Code         object
Applicant_Income    object
Purchaser_Type      int64
Denial_Reason_1     object
Denial_Reason_2     object
Denial_Reason_3     object
Lien_Status         int64
dtypes: float64(1), int64(10), object(5)
memory usage: 1.7+ GB

In [29]:
#covert object to float 
cols = df.select_dtypes(exclude=['float','int']).columns
df[cols] = df[cols].apply(pd.to_numeric, downcast='float', errors='coerce')

In [30]:
df.isnull().sum()

Year                       0
Loan_Type                  0
Property_Type              0
Loan_Purpose               0
Occupancy                  0
Loan_Amount                0
Preapproval                0
Action_Type                0
State_Code            266009
County_Code           298520
Applicant_Income     2413667
Purchaser_Type             0
Denial_Reason_1     12814442
Denial_Reason_2     14036363
Denial_Reason_3     14308781
Lien_Status                0
dtype: int64

In [31]:
# replace missing values with mean 
df['Applicant_Income'].fillna(df['Applicant_Income'].mean(), inplace = True)

In [32]:
df.head()

,Year,Loan_Type,Property_Type,Loan_Purpose,Occupancy,Loan_Amount,Preapproval,Action_Type,State_Code,County_Code,Applicant_Income,Purchaser_Type,Denial_Reason_1,Denial_Reason_2,Denial_Reason_3,Lien_Status
0,2015,1,1,2,1,10,3,4,2.0,20.0,76.0,0,NaN,NaN,NaN,2
1,2015,3,1,3,1,198,3,4,2.0,170.0,185.0,0,NaN,NaN,NaN,1
2,2015,1,1,3,1,222,3,3,2.0,170.0,115.0,0,NaN,NaN,NaN,1
3,2015,1,1,3,2,188,3,3,2.0,170.0,115.0,0,NaN,NaN,NaN,1
4,2015,1,1,3,2,216,3,1,2.0,20.0,230.0,7,NaN,NaN,NaN,1

In [33]:
df.isnull().sum()

Year                       0
Loan_Type                  0
Property_Type              0
Loan_Purpose               0
Occupancy                  0
Loan_Amount                0
Preapproval                0
Action_Type                0
State_Code            266009
County_Code           298520
Applicant_Income           0
Purchaser_Type             0
Denial_Reason_1     12814442
Denial_Reason_2     14036363
Denial_Reason_3     14308781
Lien_Status                0
dtype: int64

In [34]:
# create a class column action type apprved 1&2 else denied 
def conditions(s):
    if (s['Action_Type'] <= 2 or ['Action_Type'] == 6):
        return 1
    else:
         return 0

In [35]:
df['Class'] = df.apply(conditions, axis=1)

In [36]:
df['approved/denyed'] = np.where(df['Class']==0, 'denied', 'approved')

In [37]:
df.head()

,Year,Loan_Type,Property_Type,Loan_Purpose,Occupancy,Loan_Amount,Preapproval,Action_Type,State_Code,County_Code,Applicant_Income,Purchaser_Type,Denial_Reason_1,Denial_Reason_2,Denial_Reason_3,Lien_Status,Class,approved/denyed
0,2015,1,1,2,1,10,3,4,2.0,20.0,76.0,0,NaN,NaN,NaN,2,0,denied
1,2015,3,1,3,1,198,3,4,2.0,170.0,185.0,0,NaN,NaN,NaN,1,0,denied
2,2015,1,1,3,1,222,3,3,2.0,170.0,115.0,0,NaN,NaN,NaN,1,0,denied
3,2015,1,1,3,2,188,3,3,2.0,170.0,115.0,0,NaN,NaN,NaN,1,0,denied
4,2015,1,1,3,2,216,3,1,2.0,20.0,230.0,7,NaN,NaN,NaN,1,1,approved

In [38]:
df.to_csv('/Users/meganpolak/Documents/2015_HMDA_data.csv')